@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politicas de privacidad";
    ViewData["Subtitle"] = "Aqui se detallan las politicas de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>@ViewData["Subtitle"]</p> 
